@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blaka&family=Fascinate&display=swap');
body{
    /* background-color: #800080; */
    /* background-color: #ffa500; */

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%);

}

.select-box , .play-board ,.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease;

}


.select-box{
    background-color: white;
    /* background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%); */
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 450px;
    width: 100%;
}
.select-box.hide{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);

}
.select-box header{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.select-box .title{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}
.select-box .options{
    display: flex;
    width: 100%;
}
.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.options button:hover{
    transform: scale(0.9);
}
.result-box .btn1 button:hover{
    transform: scale(1.2);
}
.options .playerX{
    margin-right: 7px;
}
.options .playerO{
    margin-left: 7px;
}

.play-board .details{
    background-color: white;
    padding: 7px;
    border-radius: 5px;
}
.play-board .details .players{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.play-board .details span{
    color: #ffa500;
    width: 100%;
    padding: 7px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 19px;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.details span:first-child{
    color: white;
}

.details .slider{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #ffa500;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;

}
.players.active span:first-child{
    color: #ffa500;
}
.players.active span:nth-child(2){
    color: white;
}
.players.active .slider{
    left: 50%;
    
}
.play-board{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);

}
.play-board.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);

}
.play-board section{
    display: flex;
}
.play-board .play-area{
    margin-top: 20px;
}

.play-board section span{
    display: block;
    height: 80px;
    width: 80px;
    background-color: white;
    margin: 2px;
    border-radius: 5px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #ffa500;


}
.play-board section span:hover{
    background-color: rgba(0, 0, 0, 0.393);
}
.result-box{
    background-color: white;
    /* background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%); */
    
    padding: 25px;
    border-radius: 5px;
    max-width:400px ;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);

}
.result-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);

}
.result-box .won-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#0df40d;
    /* display: flex;
    justify-content: center; */

}
.result-box .won-text p{
    font-weight: 700;
    margin: 0px 3px;
    color: #ffa500;
}
.result-box .btn1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.result-box .btn1 button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}
footer{
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    top: 90%;
    width: 100%;
}
footer h2{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-shadow: 3px 4px rgb(19, 236, 244);
}
#my-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: 100000;
    visibility: visible;

}

.text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Baloo Tamma', cursive;
    color: #ffa500;
    letter-spacing: 0.2rem;
    text-shadow: -2px -2px 0px white,
                   4px 4px 0px rgb(227, 234, 234),
                   7px 7px 0px rgb(18, 15, 15);
}